@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.task__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.task__input {
	text-align: center;
	border: none;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	background-color: transparent;
	font-family: 'Pacifico', cursive;
	font-size: 1.3rem;
	transition: 0.5s ease-in-out 0.1s;
}

.task__input:hover {
	border: 2px;
	outline: none;
}

.task__buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.task__buttons * {
	width: 100px;
	margin: 0 5px 0 5px;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: white;
}

.task__buttons *:focus {
	outline: none;
}
