.task__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.task__input {
	border: none;
	padding: 10px;
	box-sizing: border-box;
}

.task__input:focus {
	border-bottom: 2px solid black;
	outline: none;
}

.task__buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.task__buttons * {
	width: 100px;
	margin: 0 5px 0 5px;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #bfbfbf;
}

.task__buttons *:focus {
	outline: none;
}
