.task__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.task__input {
	border: none;
	padding: 10px;
	border-radius: 10px;
}

.task__input:focus {
	border: none;
	outline: none;
	background-color: #bfbfbf;
}

.task__buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.task__buttons * {
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #bfbfbf;
}
