@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.listitem {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
	font-size: 1.2rem;
}

.listitem span {
	flex: 0.8;
	white-space: nowrap;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0.2;
}

.buttons * {
	width: 50px;
	padding: 1px;
}
