.container {
	background: #616161;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.app__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 25%;
	min-width: 450px;
	height: 600px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.min__size {
	display: none;
}

@media only screen and (max-width: 600px) {
	.app__wrapper {
		display: none;
	}

	.min__size {
		display: block;
	}
}
